In [86]:
# Dependencies
import requests
import json
import pandas as pd
from itertools import product
import numpy as np

In [87]:
url = "https://api.yelp.com/v3/businesses/search"
key =  "aBCoScZgbkAQBlySSH33UxGEvd_jp7qB7O6D3TeTkvZmSnU8_qPthS_Q1pq9KVXvv6MojeEuERzByuJrhjXMDfwU1U26_Uew1M9ORI4oDI30brbfB3V5aHgWw_jKZHYx"

In [88]:
headers = {
        'Authorization': 'Bearer ' + API_key,
        'Content-Type': 'application/json'
    }

In [89]:
parameters = {
    'location' : 'San Jose',
    'limit' : 2,
    'term':'restaurant',
    'radius' : 10000

}

response = requests.get(url, headers=headers, params = parameters)
data = response.json()
data

{'businesses': [{'id': 'i50BEr4Pq6-D8tmsegmVyA',
   'alias': 'the-table-san-jose',
   'name': 'The Table',
   'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/Y70NLnzrDZ-vkW9xiTAM1Q/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/the-table-san-jose?adjust_creative=yvpDOw74EsdYOX_gzJFDZQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=yvpDOw74EsdYOX_gzJFDZQ',
   'review_count': 3526,
   'categories': [{'alias': 'newamerican', 'title': 'American (New)'},
    {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'},
    {'alias': 'salad', 'title': 'Salad'}],
   'rating': 4.0,
   'coordinates': {'latitude': 37.308203, 'longitude': -121.901284},
   'transactions': ['delivery'],
   'price': '$$',
   'location': {'address1': '1110 Willow St',
    'address2': '',
    'address3': '',
    'city': 'San Jose',
    'zip_code': '95125',
    'country': 'US',
    'state': 'CA',
    'display_address': ['1110 Willow St', 'San Jose, CA 95125']},
   'phone': '+14086387911',
   'display_phone': '(408) 638-7911',
   'distance': 1703.8956839531236},
  {'id': 'Kch4seq9jJ_nuNsHcWUgcA',
   'alias': 'lazy-dog-restaurant-and-bar-san-jose-3',
   'name': 'Lazy Dog Restaurant & Bar',
   'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/FXFZYoj_HMM5al2xsecnhg/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/lazy-dog-restaurant-and-bar-san-jose-3?adjust_creative=yvpDOw74EsdYOX_gzJFDZQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=yvpDOw74EsdYOX_gzJFDZQ',
   'review_count': 167,
   'categories': [{'alias': 'comfortfood', 'title': 'Comfort Food'},
    {'alias': 'newamerican', 'title': 'American (New)'},
    {'alias': 'burgers', 'title': 'Burgers'}],
   'rating': 4.0,
   'coordinates': {'latitude': 37.253539, 'longitude': -121.876352},
   'transactions': [],
   'price': '$$',
   'location': {'address1': '5305 Almaden Expy',
    'address2': '',
    'address3': None,
    'city': 'San Jose',
    'zip_code': '95118',
    'country': 'US',
    'state': 'CA',
    'display_address': ['5305 Almaden Expy', 'San Jose, CA 95118']},
   'phone': '+14087869594',
   'display_phone': '(408) 786-9594',
   'distance': 7039.027515287844}],
 'total': 2900,
 'region': {'center': {'longitude': -121.88507080078125,
   'latitude': 37.31648115417059}}}

In [90]:
addresses = ['San Jose']
offset = np.arange(0, 500, 50)

list_SanJose = list(product(addresses, offset))
list_SanJose[:5]

[('San Jose', 0),
 ('San Jose', 50),
 ('San Jose', 100),
 ('San Jose', 150),
 ('San Jose', 200)]

In [91]:
# #empty list
# listings = []
# cols = ['Name', 'Reviews', 'Rating', 'Address', 'cuisine']

# for address, step in list_SanJose:
#     search_parameters = {
#         'location': 'San Jose',
#         'limit': 50,
#         'term': 'restaurant',
#         'radius': 1000,
#         'offset': step
#     }

#     response = requests.get(url, headers=headers, params=search_parameters)
#     raw_data = response.json()

#     for business in raw_data['businesses']:
#         name = business['name']
#         reviews = business['review_count']
#         rating = business['rating']
#         address = business['location']['display_address'][0]
#         cuisine_list = [category['title'] for category in business['categories']]
#         cuisine = ', '.join(cuisine_list)
#         listings.append([name, reviews, rating, address, cuisine])

# df = pd.DataFrame.from_records(listings, columns=cols)
# print(f'Total Records: {len(df)}')
# df.head()

In [100]:
# List of states in the USA
states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California']  # Add all the states here

# Parameters for the Yelp API request
limit = 50
term = 'restaurant'


listings = []
cols = ['Name', 'Reviews', 'Rating', 'Address', 'Cuisine', 'State']

for state in states:
    search_parameters = {
        'location': state,
        'limit': limit,
        'term': term
       
    }
    
    response = requests.get(url, headers=headers, params=search_parameters)
    raw_data = response.json()

    for business in raw_data['businesses']:
        name = business['name']
        reviews = business['review_count']
        rating = business['rating']
        address = business['location']['display_address'][0]
        cuisine_list = [category['title'] for category in business['categories']]
        cuisine = ', '.join(cuisine_list)
        listings.append([name, reviews, rating, address, cuisine, state])

df = pd.DataFrame.from_records(listings, columns=cols)
print(f'Total Records: {len(df)}')
df.head()

Total Records: 250

,Name,Reviews,Rating,Address,Cuisine,State
0,The Battery,87,4.5,2821 Central Ave,"Salad, Burgers, Sandwiches",Alabama
1,Blueprint on 3rd,222,4.5,3000 3rd Ave S,American (Traditional),Alabama
2,The Essential,334,4.5,2018 Morris Ave,"Bars, American (New)",Alabama
3,The Southern Kitchen & Bar,507,3.5,2301 Richard Arrington Jr Blvd,"Southern, American (New), Bars",Alabama
4,The Refinery,81,4.5,728 29th St S,"American (Traditional), Sports Bars",Alabama

In [101]:
df.to_csv('restaurant_data_moreCategories.csv', index=False)

In [102]:
# List of states in the USA
states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California']  # Add all the states here

# Parameters for the Yelp API request
limit = 50
term = 'restaurant'


listings = []
cols = ['Name', 'Reviews', 'Rating', 'Address', 'Cuisine', 'State']

for state in states:
    search_parameters = {
        'location': state,
        'limit': limit,
        'term': term
       
    }
    
    response = requests.get(url, headers=headers, params=search_parameters)
    raw_data = response.json()

    for business in raw_data['businesses']:
        name = business['name']
        reviews = business['review_count']
        rating = business['rating']
        address = business['location']['display_address'][0]
        cuisine_list = [category['title'] for category in business['categories']]
        cuisine = cuisine_list[0] if cuisine_list else ''
        listings.append([name, reviews, rating, address, cuisine, state])

df = pd.DataFrame.from_records(listings, columns=cols)
print(f'Total Records: {len(df)}')
df.head()

Total Records: 250

,Name,Reviews,Rating,Address,Cuisine,State
0,The Battery,87,4.5,2821 Central Ave,Salad,Alabama
1,Blueprint on 3rd,222,4.5,3000 3rd Ave S,American (Traditional),Alabama
2,The Essential,334,4.5,2018 Morris Ave,Bars,Alabama
3,The Southern Kitchen & Bar,507,3.5,2301 Richard Arrington Jr Blvd,Southern,Alabama
4,The Refinery,81,4.5,728 29th St S,American (Traditional),Alabama

In [103]:
df.to_csv('restaurant_data_OneCategory.csv', index=False)

3